shortPOSMaxentTagger = resources/ud-pt-pos_tagger_POS_Contracted.dat
verbConjMaxentTagger = resources/ud-pt-pos_tagger_1.dat
pngMaxentTagger = resources/ud-pt-pos_tagger_2.dat #pessoa, numero e genero
caseModeMaxentTagger = resources/ud-pt-pos_tagger_3.dat
DependencyParserModelFile = resources/dep-parser_pt-ud_7_new_vectors
ReTokenizer = resources/lista_de_contracoes-PT.csv
parsingMode = offline